/.qwen/
/cmake-build-debug/
/.idea/
/.codex
/example/dynamic_web_query_builder_server/perf_test/venv/
**/build/
qornix_rag/xapian_index/
qornix_rag/hnsw_index/
qornix_rag/models/semantic_model.onnx
local/
/doc/project_doc/
