/.qwen/
/cmake-build-debug/
/.idea/
/.codex
/example/dynamic_web_query_builder_server/perf_test/venv/
**/build/
qornix_rag/xapian_index/
qornix_rag/hnsw_index/
qornix_rag/data/
qornix_rag/models/semantic_model.onnx
qornix_rag/models/tokenizer.json
qornix_rag/models/downloaded/
qornix_rag/models/exported/
local/
/doc/project_doc/
qornix_rag/doc/project_doc/
/build-portable/
/dist/
/xapian_index/
